.img-avtar {
    position: relative;
    top: 8px;
    height: 45px;
    width: 45px;
}

.img-profile {
    height: 200px;
    width: 200px;
}

.logout-btn {
    margin: 16px;
}

.logged-in {
    margin: -13px;
}